{# @var settings \vaersaagod\redirectmate\models\Settings #}

{% set tabs = {
    log: 'Log'|t('redirectmate'),
    redirects: 'Redirects'|t('redirectmate')
} %}

<div class="redirectmate-utility" id="redirectMateApp" v-cloak>
    <header id="content-header" class="pane-header">
        {{ include('_includes/tabs.twig', {
            containerAttributes: {
                id: 'redirectmate-tabs',
            },
            tabs: tabs|keys|reduce((carry, id) => carry|merge({
                ("tab--#{id}"): {
                    tabId: "tab-tab--#{id}",
                    label: tabs[id],
                    url: "#tab--#{id}"
                }
            }), {})
        }) }}
    </header>
    <log-view v-if="activeTab === 'tab--log'"></log-view>
    <redirects-view v-if="activeTab === 'tab--redirects'"></redirects-view>
</div>

{% set sites = craft.app.getSites().getAllSites() %}
{% set sitesArr = sites|map((value, key) => { id: value.id, handle: value.handle, name: value.name, baseUrl: value.baseUrl }) %}

{% js at head %}
    window.redirectMate = {
        csrfToken: "{{ craft.app.request.csrfToken }}",
        sites: {{ sitesArr|json_encode|raw }},
        settings: {{ settings|json_encode|raw }},
        actions: {
            getRedirects: "{{ actionUrl('redirectmate/cp/get-redirects') }}",
            addRedirect: "{{ actionUrl('redirectmate/cp/add-redirect') }}",
            deleteRedirects: "{{ actionUrl('redirectmate/cp/delete-redirects') }}",
            getLogs: "{{ actionUrl('redirectmate/cp/get-logs') }}",
            checkLogItem: "{{ actionUrl('redirectmate/cp/check-log-item') }}",
            deleteLogItems: "{{ actionUrl('redirectmate/cp/delete-log-items') }}",
            deleteAllLogItems: "{{ actionUrl('redirectmate/cp/delete-all-log-items') }}",
            exportRedirects: "{{ actionUrl('redirectmate/import-export/export-redirects') }}",
            exportLogs: "{{ actionUrl('redirectmate/import-export/export-logs') }}"
        }
    };
{% endjs %}
